<!-- Create a navbar for navigating -->
<nav class="navbar navbar-inverse" 
	 role="navigation">
	<!-- Use ui-sref instead of href to create a hyperlink -->
    <div class="navbar-header">
        <a class="navbar-brand" 
           ui-sref="home">Angular Controller</a>
    </div>
    <ul class="nav navbar-nav">
        <li>
        	<a ui-sref="home">
        		Home
        	</a>
        </li>
        <li>
        	<a ui-sref="about">
        		About
        	</a>
        </li>
    </ul>
</nav>